<p>
	Przesłany obraz: <br>
	<img src="<?php echo $this->webroot ?>files/<?php echo $file['filename'] ?>" style="height:auto; width:auto; max-width:300px; max-height:300px;"/>
</p>
<p>
	Rozpoznany tekst: <br>
	<pre><?php echo $file['ocr'] ?></pre>
</p>
<br>
<a href="/tesseract/accounts/" class="btn btn-xs btn-primary">Powrót do listy plików</a>